%h1 <%= plural_name.capitalize %>

#<%= plural_name %>
  - for <%= singular_name %> in @<%= plural_name %> 
    = render :partial => <%= singular_name %>
    %ul.column.span-22.last
      %li= link_to 'Show', <%= singular_name %>
      %li= link_to 'Edit', edit_<%= singular_name %>_path(<%= singular_name %>)
      %li= link_to 'Delete', <%= singular_name %>, :confirm => 'Are you sure?', :method => :delete

.column.span-22.last= link_to 'New <%= singular_name %>', new_<%= singular_name %>_path