!!!
%html{ html_attrs }
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html'}/
    %title 
      <%= controller_class_name %>
      |
      = controller.action_name
    = stylesheet_link_tag '<%= controller_class_name %>'  
  %body
    #content
      - if flash[:notice]
        %p.notice= flash[:notice]
      - elsif flash[:error]
        %p.error= flash[:error]
      = yield